<!DOCTYPE kpartgui SYSTEM 'kpartgui.dtd'>
<kpartgui version="3" name="ruber-custom_actions" >
 <MenuBar>
  <Menu noMerge="1" name="tools" >
    <Separator/>
    <Menu noMerge="1" name="custom_actions">
      <text>&amp;Custom Tools</text>
      <ActionList name="custom_actions_actions"/>
    </Menu>
  </Menu>
 </MenuBar>
 <ActionProperties/>
</kpartgui>
